@use '@styles/colors.scss' as colors;

.container {
    width: 100%;

    & .title {
        display: flex;
        justify-content: space-between;

        & .price {
            color: colors.text('accent');
        }
    }

    & .description {
        color: colors.text('secondary');
    }
}
