@use '@styles/colors.scss' as colors;
@use '@styles/dimensions.scss' as dimensions;
@use '@styles/decorations.scss' as decorations;

.container {
    background: colors.bg('secondary');
    padding: dimensions.padding('md');
    box-shadow: decorations.box-shadow('md');
    white-space: nowrap;
    text-align: right;

    & .link {
        display: flex;
        align-items: center;
        gap: dimensions.margin('sm');

        & .trashButton {
            cursor: pointer;
            height: dimensions.icon-size('lg');
            width: dimensions.icon-size('lg');

            &:hover {
                filter: brightness(0.7);
            }
        }
    }
}
