@use '@styles/fonts.scss' as fonts;
@use '@styles/breakpoints.scss' as breakpoints;

.container {
    font-size: fonts.size('md');

    &.xs {
        font-size: fonts.size('xs');

        @media (max-width: breakpoints.screen("tablet")) {
            font-size: fonts.size('xs');
        }
        @media (max-width: breakpoints.screen("phone")) {
            font-size: fonts.size('xs');
        }
    }

    &.sm {
        font-size: fonts.size('sm');

        @media (max-width: breakpoints.screen("tablet")) {
            font-size: fonts.size('xs');
        }
        @media (max-width: breakpoints.screen("phone")) {
            font-size: fonts.size('xs');
        }
    }

    &.md {
        font-size: fonts.size('md');

        @media (max-width: breakpoints.screen("tablet")) {
            font-size: fonts.size('sm');
        }
        @media (max-width: breakpoints.screen("phone")) {
            font-size: fonts.size('xs');
        }
    }

    &.lg {
        font-size: fonts.size('lg');
        
        @media (max-width: breakpoints.screen("tablet")) {
            font-size: fonts.size('md');
        }
    }

    &.xl {
        font-size: fonts.size('xl');
        
        @media (max-width: breakpoints.screen("tablet")) {
            font-size: fonts.size('lg');
        }
    }

    &.xxl {
        font-size: fonts.size('xxl');
        
        @media (max-width: breakpoints.screen("tablet")) {
            font-size: fonts.size('xl');
        }
    }
}
