@use '@styles/dimensions.scss' as dimensions;
@use '@styles/breakpoints.scss' as breakpoints;
@use '@styles/colors' as colors;

.container {
    display: flex;
    gap: dimensions.margin('lg');
    margin: - dimensions.margin('md') 0;

    & .item {
        display: flex;
        align-items: center;

        & .value {
            display: flex;
        }

        & .unit {
            color: colors.text('secondary');
        }
    }

    @media (max-width: breakpoints.screen("tablet")) {
        margin: 0;
    }

    @media (max-width: breakpoints.screen("phone")) {
        display: grid;
        justify-content: center;
        gap: 0;

        & .item {
            justify-content: center;
        }
    }
}
