@use '@styles/dimensions.scss' as dimensions;

.container {
    & .buttonWrapper {
        & .button {
            position: relative;
            display: flex;
            align-items: center;
            gap: dimensions.margin('sm');
    
            & .trashButton, & .toggleEventsButton {
                width: 24px;
                height: 24px;
                cursor: pointer; 
                
                &:hover {
                    filter: brightness(0.7);
                }
            }
        }

        & .eventlist {
            position: absolute;
            right: 0;
        }
    }
}
