@use '@styles/dimensions.scss' as dimensions;

.container {
    & .buttonWrapper {
        & .button {
            position: relative;
            display: flex;
            align-items: center;
            gap: dimensions.margin('sm');
    
            & .trashButton, & .toggleEventsButton {
                transition: 200ms ease-in-out;
                height: dimensions.icon-size('xl');
                width: dimensions.icon-size('xl');
                cursor: pointer; 

                &.turned {
                    transform: rotate(180deg);
                }
                
                &:hover {
                    filter: brightness(0.7);
                }
            }
        }

        & .eventlist {
            position: absolute;
            right: 0;
            z-index: -1;
        }
    }
}
