@use '@styles/colors.scss' as colors;
@use '@styles/dimensions.scss' as dimensions;

.container {
    min-width: 200px;

    & .items {
        display: grid;
        gap: dimensions.margin('xs');

        & .row {
            display: flex;
            justify-content: space-between;
            gap: dimensions.margin('sm');

            &.centered {
                justify-content: center;
            }
    
            & .column {
                display: flex;
                align-items: center;
                gap: dimensions.margin('sm');


                & .aetheryte {
                    font-style: italic;
                }
            }
        }
    }

    & .server {
        color: colors.text('secondary');

        &.centered {
            text-align: center;
        }
    }

}
