@use '@styles/colors.scss' as colors;
@use '@styles/dimensions.scss' as dimensions;
@use '@styles/decorations.scss' as decorations;

.container {
    & .teaser {
        background: colors.bg('primary');
        padding: dimensions.padding('md');
        box-shadow: decorations.box-shadow('md');
    }

    & .content {
        margin: dimensions.margin('lg') dimensions.margin('xl');

        & .services {
            display: grid;
            gap: dimensions.margin('xl');
            margin: dimensions.margin('lg') 0;

            & .category {
                box-shadow: decorations.box-shadow('md');

                & .cards {
                    background: colors.bg('secondary');
                    padding: dimensions.padding('xl');
                    border-radius: decorations.border-radius('sm');
                }
            }

            & .serviceTitle {
                color: colors.text('accent');
            }
        }
    }

}
