@use '@styles/mixins.scss' as mixins;
@use '@styles/colors.scss' as colors;

.container {
    all: unset;
    display: inline-block;
    @include mixins.button('primary', 'md');

    &.active {
        color: colors.fg('primary');
    }
}
