$border-widths: (
    "xxs": 1px,
    "xs": 2px,
    "sm": 5px,
    "md": 10px,
    "lg": 25px,
    "xl": 50px 
);

@function border-width($name) {
    @return map-get($border-widths, $name);
}

$border-radiuses: (
    "sm": 5px,
    "md": 20px,
    "lg": 50px,
    "full": 100%
);

@function border-radius($name) {
    @return map-get($border-radiuses, $name);
}

$box-shadow: (
    "sm": "0 1px 2px rgba(0, 0, 0, 0.5)",
    "md": "0 4px 12px rgba(0, 0, 0, 1)",
    "lg": "0 10px 15px rgba(0, 0, 0, 0.5), 0 4px 6px rgba(0, 0, 0, 0.2)",
    "xl": "0 20px 25px rgba(0, 0, 0, 0.8), 0 10px 10px rgba(0, 0, 0, 0.4)",
);

@function box-shadow($name) {
    @return unquote(map-get($box-shadow, $name));
}

