$fonts: (
    'Handwritten': 'Spanish Signature'
);

@function family($name) {
    @return map-get($fonts, $name);
}

// South Castle
@font-face {
    font-family: "Spanish Signature";
    src: 
        url("../fonts/SpanishSignatureRegular.otf"),
        url("../fonts/SpanishSignatureRegular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "South Castle";
    src: 
        url("../fonts/SouthCastle.ttf");
    font-weight: lighter;
}

$sizes: (
    "sm": 14px,
    "md": 18px,
    "lg": 24px,
    "xl": 42px,
    "xxl": 64px
);

@function size($name) {
    @return map-get($sizes, $name);
}
