@use '@styles/dimensions.scss' as dimensions;
@use '@styles/fonts.scss' as fonts;
@use '@styles/colors.scss' as colors;

.container {
    & .headline {
        margin: 0;

        &.lg {
            font-size: fonts.size('lg');
        }
        & .xl {
            font-size: fonts.size('xl');
        }
        & .xxl {
            font-size: fonts.size('xxl');
        }
    }

    & .subline {
        margin: 0;
        color: colors.text('secondary');
        font-size: fonts.size('sm');
    }
}
