@use '@styles/dimensions.scss' as dimensions;
@use '@styles/fonts.scss' as fonts;
@use '@styles/colors.scss' as colors;
@use '@styles/breakpoints.scss' as breakpoints;

.container {
    & .headline {
        margin: 0;

        &.lg {
            font-size: fonts.size('lg');

            @media (max-width: breakpoints.screen("tablet")) {
                font-size: fonts.size('md');
            }
            @media (max-width: breakpoints.screen("phone")) {
                font-size: fonts.size('sm');
            }
        }
        &.xl {
            font-size: fonts.size('xl');
            
            @media (max-width: breakpoints.screen("tablet")) {
                font-size: fonts.size('lg');
            }
            @media (max-width: breakpoints.screen("phone")) {
                font-size: fonts.size('md');
            }
        }
        &.xxl {
            font-size: fonts.size('xxl');

            @media (max-width: breakpoints.screen("tablet")) {
                font-size: fonts.size('xl');
            }
            @media (max-width: breakpoints.screen("phone")) {
                font-size: fonts.size('lg');
            }
        }

        /* Fonts */
        &.font-standard {
            font-family: fonts.family('standard');
        }
        &.font-handwritten {
            font-family: fonts.family('handwritten');
            margin: dimensions.margin('md');
        }
    }

    & .subline {
        margin: 0;
        color: colors.text('secondary');
        font-size: fonts.size('sm');
    }

    &.centered {
        text-align: center;
    }

}
