@use '@styles/fonts.scss' as fonts;
@use '@styles/colors.scss' as colors;
@use '@styles/dimensions.scss' as dimensions;
@use '@styles/breakpoints.scss' as breakpoints;
@use '@styles/gradients.scss' as gradients;
@use '@styles/color-loops.scss' as color-loops;

.container {
    display: grid;
    gap: dimensions.margin('xxl');
    width: 100%;
    height: 100%;
    align-content: center;
    
    & .teaser {
        display: grid;
        gap: dimensions.margin('xl');
        
        & .typed {
            font-family: fonts.family('typed');
            font-size: fonts.size('lg');
            text-align: center;
    
            &.lower {
                margin-top: dimensions.margin('md');
            }
    
            & .textImage {
                width: 200px;
                pointer-events: none;
            }
        }
    
        & .handwritten {
            font-size: fonts.size('xxl');
            font-family: fonts.family('handwritten');
            transform: rotate(-3deg);
            margin-bottom: dimensions.margin('md');

            // this is such a stupid hack I don't wanna talk about it
            padding: 100px;
            margin: -100px;
            
            text-align: center;
            opacity: 1;

            //@include gradients.default();
            @include color-loops.default();
            
        }

        @media (max-width: breakpoints.screen("tablet")) {
       
    
            & .handwritten {
                font-size: fonts.size('xl');
            }
    
            & .typed{
                & .textImage {
                    width: 180px;
                }
            }
        }
        
        @media (max-width: breakpoints.screen("phone")) {
            gap: dimensions.margin('md');
    
            & .handwritten {
                font-size: fonts.size('md');
            }
    
            & .typed{
                & .textImage {
                    width: 150px;
                }
            }
        }
    }

    & .navContainer {
        display: flex;
        justify-content: center;

        & .nav {
            display: flex;
            justify-content: space-between;
            gap: dimensions.margin('lg');
        }
    }
}
