@use '@styles/dimensions.scss' as dimensions;
@use '@styles/breakpoints.scss' as breakpoints;

@mixin centered($side, $padding) {
    position: absolute;  
    #{$side}: $padding;

    top: 50%;
    transform: translateY(-50%);
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    & .burger {
        display: none;
        z-index: 0;
        @include centered(left, 0);
    }

    & .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: dimensions.padding('md');
        height: 100%;
    }

    & .eventNav {
        @include centered(right, dimensions.padding('lg'));
    }

    @media (max-width: breakpoints.screen("tablet")) {
        & .burger {
            display: flex;
        }

        & .nav {
            display: none;
        }
    }
}
