@use '@styles/dimensions.scss' as dimensions;
@use '@styles/decorations.scss' as decoration;
@use '@styles/colors.scss' as colors;
@use '@styles/breakpoints.scss' as breakpoints;

.container {
    display: grid;
    gap: dimensions.margin('md');
    width: 100%;

    & .carousel {
        display: flex;
        justify-content: space-between;
        height: 400px;
        overflow-x: hidden;

        & .slideBoardContainer {
            display: flex;
            position: relative;
            width: 100%;
            overflow-x: hidden;
            
            & .slideBoard {
                display: flex;
                overflow-x: hidden;

                & .imageContainer {
                    display: flex;
                    flex-shrink: 0;
                    justify-content: center;
                    align-items: center;
                    //width: 1836px;

                    & .image {
                        max-height: 400px;
                        //width: 100%;
                    }
                }
            }
        }
        
        & .navButton {
            display: flex;
            
            &:hover {
                background: colors.bg('secondary');
            }

            &.disabled {
                opacity: 0.2;
                pointer-events: none;
            }
        }
    }

    & .navigation {
        display: flex;
        justify-content: center;
        gap: dimensions.margin('md');
        flex-wrap: wrap;

        & .item {
            background: colors.bg('secondary');
            width: 80px;
            height: 40px;
            display: flex;
            justify-content: center;
            
            &.first {
                border-radius:
                    decoration.border-radius('md')
                    0
                    0
                    decoration.border-radius('md');
            }

            &.last {
                border-radius:
                    0
                    decoration.border-radius('md')
                    decoration.border-radius('md')
                    0;
            }

            &:hover {
                cursor: pointer;
                outline: decoration.border-width('xs') solid colors.fg('secondary');
            }

            &.active {
                outline: decoration.border-width('xs') solid colors.fg('primary');
            }

            & .previewImage {
                height: 40px;
            }
        }
    }
}
