@use '@styles/dimensions.scss' as dimensions;
@use '@styles/decorations.scss' as decoration;
@use '@styles/colors.scss' as colors;
@use '@styles/breakpoints.scss' as breakpoints;

.container {
    display: grid;
    gap: dimensions.margin('md');
    width: 100%;

    & .carousel {
        display: flex;
        justify-content: space-between;
        height: 400px;

        & .displayImageContainer {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            width: 100%;
            overflow-x: hidden;

            & .displayImage {
                max-height: 400px;
                width: 100%;
            }

            & .nextImage {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;

                & .nextImageImg {
                    max-height: 400px;
                }
            }
        }
        
        & .navButton {
            display: flex;
            
            &:hover {
                background: colors.bg('secondary');
            }

            &.disabled {
                opacity: 0.2;
                pointer-events: none;
            }
        }
    }

    & .navigation {
        display: flex;
        justify-content: center;
        gap: dimensions.margin('md');
        flex-wrap: wrap;

        & .item {
            background: colors.bg('secondary');
            width: 80px;
            height: 40px;
            display: flex;
            justify-content: center;
            
            &.first {
                border-radius:
                    decoration.border-radius('md')
                    0
                    0
                    decoration.border-radius('md');
            }

            &.last {
                border-radius:
                    0
                    decoration.border-radius('md')
                    decoration.border-radius('md')
                    0;
            }

            &:hover {
                cursor: pointer;
                outline: decoration.border-width('xs') solid colors.fg('secondary');
            }

            &.active {
                outline: decoration.border-width('xs') solid colors.fg('primary');
            }

            & .previewImage {
                height: 40px;
            }
        }
    }
}
