@use '@styles/colors.scss' as colors;
@use '@styles/dimensions.scss' as dimensions;

.container {
    display: flex;
    gap: dimensions.margin('sm');
    align-items: center;

    cursor: pointer;

    &:hover {
        color: colors.text('secondary');                                                                                                                                                                                                                                                                                                                              
    }

    &.selected {
        color: colors.fg('primary');
    }

    & .count {
        filter: brightness(0.7);
    }

}
