@use '@styles/dimensions.scss' as dimensions;
@use '@styles/colors.scss' as colors;

.container {
    background: colors.bg('secondary');
    width: 100%;
    z-index: 2;
    height: 42px;

    & .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: dimensions.margin('md');
        color: colors.text('secondary');
        height: 100%;

        & span {
            display: flex;
            align-items: center;
        }
    }
}
