@use '@styles/colors.scss' as colors;
@use '@styles/dimensions.scss' as dimensions;
@use '@styles/breakpoints.scss' as breakpoints;
@use '@styles/decorations.scss' as decorations;

.container {
    display: grid;
    margin: 0 dimensions.margin('xxl');
    padding: dimensions.padding('lg');
    gap: dimensions.margin('xl');

    & .navWrapper {
        display: flex;
        align-content: center;
        justify-content: center;

        & .nav {
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: breakpoints.screen('phone')) {
                display: grid;
            }
        }
    }
    
    & .results {
        gap: dimensions.margin('lg');

        border-radius: decorations.border-radius('md');
        margin-bottom: dimensions.margin('xl');
        padding: dimensions.padding('xl');
        background: rgba(0, 0, 0, 0.75);
        box-shadow: decorations.box-shadow('md');

        column-count: 2;
        column-gap: dimensions.margin('lg');  

        & .title {
            column-span: all;
            margin-top: dimensions.margin('sm');
            margin-bottom: dimensions.margin('lg');
        }

        & * {
            break-inside: avoid;
        }

        @media (max-width: breakpoints.screen('tablet')) {
            display: flex;
            flex-direction: column;
        }
    }
    
    @media (max-width: breakpoints.screen('tablet')) {
        display: flex;
        flex-direction: column;
        margin: 0;
        gap: dimensions.margin('lg');
    }
}
