@use '@styles/colors' as colors;
@use '@styles/dimensions' as dimensions;

.container {
 & .teaser {
    background: colors.bg('primary');
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: dimensions.padding('lg');
 }
}
